absl-py==1.0.0
accelerate==0.21.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.7.1
attrs==23.1.0
beautifulsoup4==4.12.2
bitsandbytes==0.39.0
black==22.1.0
bleach==4.1.0
datasets==1.17.0
filelock==3.4.2
fsspec==2024.2.0
gitdb==4.0.10
GitPython==3.1.31
huggingface-hub==0.21.3
idna
# joblib==1.1.0
# jupyterlab==4.0.3
# jupyterlab-server==2.23.0
# kiwisolver==1.3.2
# lxml==4.9.3
matplotlib==3.5.1
numpy==1.23.5
opencv-python==4.5.3.56
optuna==2.8.0
pandas==1.3.0
protobuf==3.19.4
Pillow==9.4.0
pycparser==2.21
pyparsing==3.0.7
python-dateutil==2.8.2
pytorch-lightning==1.2.10
regex==2022.1.18
requests==2.31.0
safetensors==0.4.2
scikit-learn==0.24.2
scipy==1.5.4
sentence-transformers==2.2.2
sentencepiece==0.1.98
six
torch
torchvision
transformers==4.40.2
tqdm==4.64.1
typing-extensions==4.4.0
